*{

}
body{
    background-color: lightgreen;
    font-size: 14px;
    line-height: 1.25;
    font-weight: normal;/*100-thin 300-light 400-normal 500-medium 600-semibold 700-bold 800-extra-bold 900-black*/
    font-family: ;
}
div{
    width: 340px;
    height: 590px;
    background-color: white;
   /* border: 1px solid #333333; solid la duong vien */
    box-shadow: 0 0 10px #aaaaaa;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;/*left right none*/
}
div img{

}
#sp{
    transition: all 3000ms ;
}
#sp:hover{
    background-color: olivedrab;
    transform: scale(1.5);
}